.rode-balk::before {
    content: "";
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 350px;
    transform-origin: bottom left;
    transform: skewY(-6deg);
    z-index: -9999;
}

body {
    background-color: lightgray;
}

.header {
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.personlist {
    border: 5px solid black;
    background-color: rgb(206, 106, 106);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.p {
    font-size: medium;
}

.image {
    width: 200px;
    height: 200px;
}